{% extends 'base.html' %} 
{% load static %}
 {% block content %}
 <!-- ======= About Section ======= -->
 <section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
          <img src="{%  static '/img/about.jpg'  %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>African Traditional recipes</h3>
        <p class="fst-italic">
          Some of the recipes are from the fourth older generations that make the to strong like a 40years man even at 100years plus.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> A unique meal for taking care of weakness.</li>
          <li><i class="bi bi-check-circle"></i> A natural food items at its natural state.</li>
          <li><i class="bi bi-check-circle"></i> An African pot.</li>
        </ul>
        <p>
          Based in Nigeria, Lagos, Obelawo Restaurant is a family owned
          Mediterranean restaurant, focused on traditional recipes served with a
          modern twist.
        </p>
        <p>
          The chefs draw inspiration from Italian, Greek, and Turkish culture
          and have a menu of 12-15 items that they rotate seasonally.
        </p>

        <p>
          The restaurant has a rustic and relaxed atmosphere with moderate
          prices, making it a popular place for a meal any time of the day.
        </p>

        <p>
          Obelawo is owned by a Nigeria man, Rotimi Olanrewaju, who
          came back from the United States to pursue their shared dream of owning a
          restaurant.
        </p>

        <p>
          To craft the menu, Rotimi relies on family recipes and his experience
          as a chef in Nigeria.
        </p>

        <p>
          Deborah one of his daughter does all the marketing for the restaurant and led the effort to
          expand the menu beyond classic Italian to incorporate additional
          cuisines from the mediterranean region.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
{% endblock %}
